<p id="notice"><%= notice %></p>

<h1><strong>Listing Categories</strong></h1>

<table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody >
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<strong>Total income=<%=Income.sum(:amount)%><br>
Total cost=<%=Cost.sum(:amount)%></br>
Balance=<%=Income.sum(:amount)-Cost.sum(:amount)%></strong>
<% if((Income.sum(:amount) - Cost.sum(:amount))>500) %><br>
	<script> alert("Hey, Your Balance is greater than 0 : Good to Go"); </script>
	
	<% elsif((Income.sum(:amount) - Cost.sum(:amount))>100) %>
	<script> alert("low balance"); </script>
	
	<% else %>
	<%="alert you are spending alot"%>
<% end %>
<br>
<br>
<%= link_to 'New Category', new_category_path %>
<br><br><br><br><br><br><br><br><br><br><br><br><p><font color="green">Designed by Sushma Singhi Reddy</font></p>
