<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<h3>Costs</h3>
<div id="costs">
	<%= @category.costs.each do |cost| %>
	 <%= div_for cost do %>
	 <p>
                
				Debited <%= time_ago_in_words(cost.created_at)%></br>
	 	<strong><%= h(cost.amount) %></strong>
	 </p>
	 <% end %>
	<% end %>
</div>
<h3>Incomes</h3>
<div id="incomes">
	<%= @category.incomes.each do |income| %>
	 <%= div_for income do %>
	 <p>
			
			Credited <%= time_ago_in_words(income.created_at)%></br>
	 	<%= h(income.amount) %>
	 </p>
	 <% end %>
	<% end %>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
